CREATE DATABASE [WarehouseManagementBV]

USE [WarehouseManagementBV]

DROP TABLE IF EXISTS [Category];
CREATE TABLE [Category] (
	[CategoryID] int NOT NULL IDENTITY PRIMARY KEY,
	[CategoryName] nvarchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
);

DROP TABLE IF EXISTS [Issue];
CREATE TABLE [Issue] (
	[IssueID] int NOT NULL IDENTITY PRIMARY KEY,
	[CreatedBy] int NOT NULL,
	[ApprovedBy] int NULL,
	[OrderDate] datetime NULL DEFAULT '(getdate())',
	[ApprovalDate] datetime NULL,
	[Recipient] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Remarks] nvarchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
);

DROP TABLE IF EXISTS [IssueDetail];
CREATE TABLE [IssueDetail] (
	[IssueID] int NOT NULL,
	[ProductID] int NOT NULL,
	[Quantity] int NOT NULL,
	CONSTRAINT [PK__IssueDet__A7C6DA4A3D1492C5] PRIMARY KEY ([IssueID], [ProductID])
);

DROP TABLE IF EXISTS [Product];
CREATE TABLE [Product] (
	[ProductID] int NOT NULL IDENTITY PRIMARY KEY,
	[ProductName] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[UnitOfMeasurement] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ImageURL] nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CategoryID] int NOT NULL,
	[MinStock] int NULL DEFAULT '((0))',
	[MaxStock] int NULL DEFAULT '((0))',
	[IsActive] bit NULL DEFAULT '((1))'
);

DROP TABLE IF EXISTS [Receipt];
CREATE TABLE [Receipt] (
	[ReceiptID] int NOT NULL IDENTITY PRIMARY KEY,
	[CreatedBy] int NOT NULL,
	[ApprovedBy] int NULL,
	[OrderDate] datetime NULL DEFAULT '(getdate())',
	[ApprovalDate] datetime NULL,
	[SupplierName] nvarchar(200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Status] nvarchar(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Remarks] nvarchar(500) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
);

DROP TABLE IF EXISTS [ReceiptDetail];
CREATE TABLE [ReceiptDetail] (
	[ReceiptID] int NOT NULL,
	[ProductID] int NOT NULL,
	[Quantity] int NOT NULL,
	CONSTRAINT [PK__ReceiptD__0748086EEA77A13F] PRIMARY KEY ([ReceiptID], [ProductID])
);

DROP TABLE IF EXISTS [Role];
CREATE TABLE [Role] (
	[RoleID] int NOT NULL IDENTITY PRIMARY KEY,
	[RoleName] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL
);

SET IDENTITY_INSERT [Role] ON;
INSERT INTO [Role] ([RoleID], [RoleName]) VALUES
(1,	N'Quản lý'),
(2,	N'Nhân viên kho');
SET IDENTITY_INSERT [Role] OFF;

DROP TABLE IF EXISTS [User];
CREATE TABLE [User] (
	[UserID] int NOT NULL IDENTITY PRIMARY KEY,
	[Username] nvarchar(100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[Password] nvarchar(255) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[FullName] nvarchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Email] nvarchar(150) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[RoleID] int NOT NULL,
	[IsActive] bit NULL DEFAULT '((1))',
	CONSTRAINT [UQ__User__536C85E45DF6FE26] UNIQUE ([Username])
);

SET IDENTITY_INSERT [User] ON;
SET IDENTITY_INSERT [User] OFF;

ALTER TABLE [Issue] ADD
	FOREIGN KEY ([ApprovedBy]) REFERENCES [db62918].[dbo].[User] ([UserID]) ON DELETE SET NULL ON UPDATE SET NULL,
	FOREIGN KEY ([CreatedBy]) REFERENCES [db62918].[dbo].[User] ([UserID]) ON DELETE SET NULL ON UPDATE SET NULL;

ALTER TABLE [IssueDetail] ADD
	FOREIGN KEY ([IssueID]) REFERENCES [db62918].[dbo].[Issue] ([IssueID]) ON DELETE SET NULL ON UPDATE SET NULL,
	FOREIGN KEY ([ProductID]) REFERENCES [db62918].[dbo].[Product] ([ProductID]) ON DELETE SET NULL ON UPDATE SET NULL;

ALTER TABLE [Product] ADD
	FOREIGN KEY ([CategoryID]) REFERENCES [db62918].[dbo].[Category] ([CategoryID]) ON DELETE SET NULL ON UPDATE SET NULL;

ALTER TABLE [Receipt] ADD
	FOREIGN KEY ([ApprovedBy]) REFERENCES [db62918].[dbo].[User] ([UserID]) ON DELETE SET NULL ON UPDATE SET NULL,
	FOREIGN KEY ([CreatedBy]) REFERENCES [db62918].[dbo].[User] ([UserID]) ON DELETE SET NULL ON UPDATE SET NULL;

ALTER TABLE [ReceiptDetail] ADD
	FOREIGN KEY ([ProductID]) REFERENCES [db62918].[dbo].[Product] ([ProductID]) ON DELETE SET NULL ON UPDATE SET NULL,
	FOREIGN KEY ([ReceiptID]) REFERENCES [db62918].[dbo].[Receipt] ([ReceiptID]) ON DELETE SET NULL ON UPDATE SET NULL;

ALTER TABLE [User] ADD
	FOREIGN KEY ([RoleID]) REFERENCES [db62918].[dbo].[Role] ([RoleID]) ON DELETE SET NULL ON UPDATE SET NULL;